# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class
*.so

# ==============================
# Virtual Environment
# ==============================

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ==============================
# Django
# ==============================

*.sqlite3
db.sqlite3

staticfiles/

# User uploaded files
media/

# ==============================
# Environment Variables / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# IDE / Editor
# ==============================

.vscode/
.idea/

# ==============================
# Testing / Coverage
# ==============================

.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# ==============================
# Logs
# ==============================

*.log

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Python Packaging
# ==============================

*.egg-info/
dist/
build/
.eggs/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp